<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <% if current_user.pending_friends?(user) %>
            <span>You already sent an invitation</span>
          <% elsif current_user.friend_requests?(user)%>
            <%# confirm_friendship_helper(user) %>
            <%= link_to 'Accept invitation', :controller => :friendships, :action => :confirm_friendship(user) %>
          <% elsif !(current_user == user || current_user.friend?(user)) %>
            <%= link_to 'Send friendship invitation', friendships_path(friend_id: user.id), method: :post %>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
